body {
    font-family: system-ui;
    padding-top: 20px;
}

#header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    font-family: system-ui;
    background-color: #b7ccf1;
    border: 0.6px solid #d8d8d8;
    border-radius: calc(0.5em + 0.25em + 0.1em);
    color: #ffffff;
    width: 60%;
    margin-left: 20%;
    margin-top: 5%;
    height: 60px; /* adjust height as needed */
    line-height: 60px; /* adjust line-height to match height */
}

#logo {
    float: left;
    clear: left;
    width: 100px; /* adjust the width as needed */
    height: 75px; /* adjust the height as needed */
    margin-top: 8px; /* adjust the margin as needed */
    margin-left: 13%; /* adjust the margin as needed */
}

.select {
    width: 100%;
    padding: 4% 10%;
    border: None;
    border-bottom: solid rgba(99, 97, 97, 0.264);
    border-radius: 5%;
    background-color: #ffffff;
    margin-bottom: 20px;
    font-size: 18px;
    font-family: monospace;
}

.select:focus {
    outline: none;
    border-bottom: none;
}

.select option {
    font-size: 16px;
}

p1 {
    float: left;
    clear: left;
    font-size: 18px;
    color: #494545
}

p2 {
    float: initial;
    margin-top: 5px;
    font-size: 20px;
}

p3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    font-size: 20px;
    font-family: system-ui;
    color: #807979;
}

p4 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    font-size: 18px;
    font-family: 'Arial';
    color: #2b2828;
}


h2 {
    float: left;
    font-size: 20px;
    color: #5d82c7;
}

#notiftext {
    margin-bottom: 10px;
}

#output {
    margin-top: 5px;
}

#explain {
    float: left;
    font-size: px;
    padding-top: -3%;
    color: #494545;
    font-style: italic;
    margin-bottom: 10px;
}

#container {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    margin-top: -50px;
}

#info, #operation {
    width: 50%;
    text-align: center;
    padding: 5%;
}

#info {
    border-right: 1px solid rgba(99, 97, 97, 0.264);
}


input[type=submit] {
    width: 100%;
    color: #3864e6;
    background-color: #ffffff;
    border: 0.6px solid #3864e6;
    border-radius: calc(0.75em + 0.5em + 0.15em);
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #3864e6;
    color: #ffffff;
}

input[type="text"] {
    padding: 5px;
    font-size: 20px;
    border-radius: 5px;
    border: 0.6px solid rgba(99, 97, 97, 0.264);
    width: 100%;
    box-sizing: border-box;
    margin-top: 5px;
}

button[type=submit] {
    width: 100%;
    color: #3864e6;
    background-color: #ffffff;
    border: 0.6px solid #3864e6;
    border-radius: calc(0.75em + 0.5em + 0.15em);
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
}

button[type=submit]:hover {
    background-color: #3864e6;
    color: #ffffff;
}

