<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Counter Type</p>
    <select name="domain" id="domain" class="select">
      <option value="recipient1@example.com">recipient1@example.com</option>
      <option value="recipient2@example.com">recipient2@example.com</option>
      <option value="recipient3@example.com">recipient3@example.com</option>
    </select>
    
    <script>
      var selectElement = document.getElementById("domain");
      selectElement.onchange = function() {
        var selectedValue = selectElement.options[selectElement.selectedIndex].value;
        window.location.href = "mailto:" + selectedValue;
      }
    </script>
    
</body>
</html>

